.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  z-index: 100;
  background-image: linear-gradient(to right bottom, #3881ff, #ab2eff);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: top 0.3s;

  &.hidden {
    top: -8vh;
  }

  &.visible {
    top: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #eaeaea;
    padding-left: 1rem;
    margin-left: 5rem;

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: #ffffff;
      }
    }
  }

  .menu-icon {
    display: none; /* 기본적으로는 숨겨둠 */
    font-size: 2rem;
    cursor: pointer;
    color: #eaeaea;
    padding-right: 1rem;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    margin-right: 10rem; // 데스크탑 뷰에서만 적용

    .nav-link {
      color: #eaeaea;
      margin: 0 20px;
      font-size: 1.2rem;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: #ffffff;
      }

      &.active {
        border-bottom: 2px solid #ffffff;
        padding-top: 5px;
      }
    }
  }

  @media screen and (max-width: 770px) {
    .menu-icon {
      font-size: 1.5rem; /* 아이콘 크기 설정 */
      cursor: pointer;
      display: block; /* 작은 화면에서는 메뉴 아이콘 보이기 */
    }

    .nav-menu {
      margin-right: 0; // 모바일 뷰에서는 margin 제거
      position: absolute;
      top: 8vh;
      right: 0;
      background-color: #333;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);
      transition: transform 0.3s ease;

      &.active {
        transform: translateX(0);
      }

      .nav-link {
        padding: 1.5rem;
        width: 100%;
        text-align: left;
        color: #fff;
        border-bottom: 1px solid #444;

        &:hover {
          background-color: #444;
          color: #fff;
        }
      }
    }
  }
}
